*{
background-color: #121212;

margin: 0;
padding: 0;
box-sizing: border-box;

}

#t1{
    color:#C38FFF;
}







.topics{
  width: 50%;
  margin: 0 auto;
  
    ul{
          
        height: 2em;
        background-color:#121212;
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
      
    }
    li{
        border-radius: 10px;
        
       
        font-size:x-large;
        background-color: #121212;
        cursor: pointer;
        color:#03DAC6;
        text-decoration: none;
        font-weight:500
      
    }


}

.videos1{
background-color:#2D2D2D;
width: 80%;
margin: 0 auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 2em;
padding-top: 2%;
padding-bottom: 2%;
border-radius: 1em;
iframe{
   
    border-radius: 0.3em;
}




}


.menu{
    width: 2em;
    margin: 10px;
    display: none;
}
.menu2{
    width: 2em;
    margin: 10px;
    display: none;
}



.v2{

    background-color: #2D2D2D;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
    border-radius: 1em;


    
    font-size: x-large;
   
    justify-content: center;
   
    display:none;
   
    ul{
       color: #bb86fc;
       list-style:decimal;

    }
    li{
        background-color: #2D2D2D;
    }
    a{
        text-decoration: none;
        background-color: #2D2D2D;
        color: #bb86fc;
      
    }
   
    }


    .v3{
       
       margin: 0 auto;
       margin-top: 10%;
       justify-content: center;
        width: fit-content;
    
        display: none;
        align-items: center;
        
    
        a{
            padding: 20px;
            background: #03DAC6;
            font-weight: 800;
            font-size: large;
            text-decoration: none;
            border-radius: 1em;
           color: black;
        }

    }

    .v4{
        margin-top: 10%;
        justify-content: center;
        display: none;
        color: aliceblue;

    }

    #t2:hover, #t3:hover, #t4:hover, #t1:hover{
        box-shadow: 2px 2px 2px white;
    }
    .one{
        text-align: center;
       margin: 0.2em;
       color: #7673FC;
      }
      

    @media only screen and (max-width:640px){
     
      
        .menu{
            display: block;
        }
        .menu2{
            position: relative;
            top:0;
            display: none;
        }
      .videos1{
     width:95%;
  
          iframe{
         width: 140px;
         height: 78.5px;
          }
      }
      .topics{
        display:none;
            ul{
                padding: 10px;
                border: #1F3044 solid 5px;
                position:fixed;
                left:0;
                top: 50px;
                margin-bottom: 100px;
                flex-direction: column; 
               height: max-content;
               width: 100%;
             
             
               
            }


      }

      .v2{

       
        width: 90%;
       
        margin: 0 auto;
       
        border-radius: 1em;
    
        
        font-size: x-large;
       
        justify-content: center;
       
        display:none;
       
        ul{
           
           list-style:decimal;
          
    
        }
        a{
            text-decoration: none;
        }
       
      
        }
       


    }

